<header class="page-header">
	<div class="container">
		<div class="page-header__menu" id="header-menu">
			<a href="javascript:;" id="menu-toggle-active" class="page-header__toggle"><span></span></a>
			<div class="page-header__nav">
				<ul>
					<li>
						<a href="javascript:;">
							<svg width="30" height="26">
								<use xlink:href="#browser_gauge"></use>
							</svg>
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="page-header__nav-link-wrapper">
								<img src="img/keys-gray.svg" alt="">
								<img class="active" src="img/keys-blue.svg" alt="">
							</div>
							<span>Sites & Leases</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="page-header__nav-link-wrapper">
								<img src="img/reminder-gray.svg" alt="">
								<img class="active" src="img/reminder-blue.svg" alt="">
							</div>
							<span>Reminders</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<svg width="30" height="28">
								<use xlink:href="#report"></use>
							</svg>
							<span>Report</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<svg width="30" height="29">
								<use xlink:href="#agent"></use>
							</svg>
							<span>Agent</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<svg width="30" height="26">
								<use xlink:href="#settings"></use>
							</svg>
							<span>Settings</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page-header__row">
			<a href="index.html" class="page-header__logo"><img src="img/logo.svg" alt=""></a>
			<div class="page-header__nav">
				<ul>
					<li>
						<a href="javascript:;">
							<svg width="30" height="26">
								<use xlink:href="#browser_gauge"></use>
							</svg>
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="page-header__nav-link-wrapper">
								<img src="img/keys-gray.svg" alt="">
								<img class="active" src="img/keys-blue.svg" alt="">
							</div>
							<span>Sites & Leases</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="page-header__nav-link-wrapper">
								<img src="img/reminder-gray.svg" alt="">
								<img class="active" src="img/reminder-blue.svg" alt="">
							</div>
							<span>Reminders</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<svg width="30" height="28">
								<use xlink:href="#report"></use>
							</svg>
							<span>Report</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<svg width="30" height="29">
								<use xlink:href="#agent"></use>
							</svg>
							<span>Agent</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<svg width="30" height="26">
								<use xlink:href="#settings"></use>
							</svg>
							<span>Settings</span>
						</a>
					</li>
				</ul>
			</div>
			<a href="javascript:;" class="btn btn--fenny">
				<svg width="15" height="14"><use xlink:href="#plus"></use></svg>
				<span>Add Lease</span>
			</a>
			<a href="javascript:;" id="menu-toggle" class="page-header__toggle"><span></span></a>
			<div class="page-header__login-block">
				<a href="javascript:;" class="page-header__login-link">
					<div class="page-header__login-link-wrapper">
						<svg width="31" height="30">
							<use xlink:href="#user_fenny"></use>
						</svg>
						<svg class="active" width="31" height="30">
							<use xlink:href="#user_green"></use>
						</svg>
					</div>
					<span>Logout</span>
				</a>
				<div class="page-header__login-description"><p>Welcome back</p></div>
			</div>
		</div>
	</div>
</header>
