<div class="popup-block" id="popup_add_contact">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="inner-content">
				<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
				<div class="popup-block__create-block">
					<div class="popup-block__create-heading">
						<div class="popup-block__create-heading-wrapper">
							<div class="popup-block__create-heading-title">Create Contact</div>
							<div class="landlord-block__down"><svg width="6" height="13"><use xlink:href="#manager_arrow"></use></svg></div>
						</div>
					</div>
					<form class="popup-block__create-form">
						<div class="popup-block__create-form-wrapper">
							<div class="page-block__select-wrapper">
								<label for="create_landlord" class="page-block__label">Landlord</label>
								<select id="create_landlord" class="js-example-basic-single">
									<option value="1">Select Landlord...</option>
									<option value="2">Select Landlord...</option>
									<option value="3">Select Landlord...</option>
									<option value="4">Select Landlord...</option>
									<option value="5">Select Landlord...</option>
								</select>
							</div>
							<div class="page-block__input-wrapper">
								<label for="create_type" class="page-block__label">Type</label>
								<input type="text" id="create_type" name="create_type" class="text-input page-block__input" placeholder="Select a Content Type..." required>
							</div>
							<div class="page-block__input-wrapper">
								<label for="create_name" class="page-block__label">Name</label>
								<input type="text" id="create_name" name="create_name" class="text-input page-block__input" placeholder="Name..." required>
							</div>
							<div class="page-block__input-wrapper">
								<label for="create_surname" class="page-block__label">Surname</label>
								<input type="text" id="create_surname" name="create_surname" class="text-input page-block__input" placeholder="Select a Content Type..." required>
							</div>
							<div class="page-block__input-wrapper">
								<label for="create_company" class="page-block__label">Company</label>
								<input type="text" id="create_company" name="create_company" class="text-input page-block__input" placeholder="Company..." required>
							</div>
							<div class="page-block__input-wrapper">
								<label for="create_email" class="page-block__label">Email</label>
								<input type="text" id="create_email" name="create_email" class="text-input page-block__input" placeholder="Email..." required>
							</div>
							<div class="page-block__input-wrapper mb0">
								<label for="create_mobile" class="page-block__label">Mobile</label>
								<input type="text" id="create_mobile" name="create_mobile" class="text-input page-block__input" placeholder="Mobile..." required>
							</div>
							<div class="page-block__input-wrapper mb0">
								<label for="create_landline" class="page-block__label">Landline</label>
								<input type="text" id="create_landline" name="create_landline" class="text-input page-block__input" placeholder="Landline..." required>
							</div>
						</div>
						<div class="popup-block__form-controls-block">
							<a href="javascript:;" class="btn btn--red">
								<svg width="24" height="24">
									<use xlink:href="#remove"></use>
								</svg>
								<span>Close</span>
							</a>
							<a href="javascript:;" class="btn btn--blue">Create</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_settings">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="inner-content">
				<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
				<div class="popup-block__create-block">
					<div class="popup-block__create-heading">
						<div class="popup-block__create-heading-wrapper">
							<div class="popup-block__create-heading-title">Heading</div>
							<div class="landlord-block__down"><svg width="6" height="13"><use xlink:href="#manager_arrow"></use></svg></div>
						</div>
					</div>
					<form class="popup-block__settings-form">
						<div class="popup-block__settings-form-wrapper">
							<div class="page-block__input-wrapper">
								<label for="settings_name" class="page-block__label">Name</label>
								<input type="text" id="settings_name" name="settings_name" class="text-input page-block__input" placeholder="Name..." required>
							</div>
						</div>
						<div class="popup-block__form-controls-block">
							<a href="javascript:;" class="btn btn--red">
								<svg width="24" height="24">
									<use xlink:href="#remove"></use>
								</svg>
								<span>Close</span>
							</a>
							<a href="javascript:;" class="btn btn--green">
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								<span>Add</span>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>