$mobile: screen and (max-width: 767px);
$tablet: screen and (min-width: 768px) and (max-width: 1199px);
$desktop: screen and (min-width: 1200px);

$primary-green: #ABD856;
$primary-blue: #53C7CD;

$title: #4A4A4A;
$text: #9B9B9B;
$fenny: #16A8AA;
$border: #D8D8D8;
$red: #E85C5C;

$error: #E85C5C;
$correctly: #8BC61D;

$form-text: #575757;